{% macro displayComments(my_comments) %}
{% for comment in my_comments %}
<hr>
<div class="comment">
  <p>
    <strong>
      <p>Anonymous</p>
    </strong>
  </p>
  <p>{{comment.c_content}}</p>
  <strong>
    <p>{{comment.c_com_posted_on}}</p>
  </strong>
</div>
{% endfor %} {% endmacro %}

{% macro displayPitches(my_pitches) %}
{% for pitch in my_pitches %}
<div class="col-md-12 fmtxt">

  <strong>
    <p>{{pitch.m_blog_title}}</p>
  </strong>
  <p>{{pitch.m_blog_content}}</p>
  <strong>
    <p>Posted on :{{pitch.m_blog_posted_on}}</p>
  </strong>
  <ul class="list-inline">
    <li class="list-inline-item">
      <a href="/comments/{{pitch.id}}">Add Comment</a>
    </li>
  </ul>
  <hr>
</div>
{% endfor %}
{% endmacro %}